.fund-success-container {
  background-color: #fff;
  background-image: url(../../assets/confetti.png);
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.fund-success-container p {
  font-family: "Goldman", cursive;
  font-size: 48px;
  font-weight: 400;
  color: #000;
  width: 80%;
  text-align: center;
}


@media screen and (max-width: 768px) {
    .fund-success-container {
        background-color: #fff;
        background-image: url(../../assets/confetti.png);
        background-size: cover;
        height: 100vh;
        padding: 30px;
      }
      
    .fund-success-container p {
        font-family: "Goldman", cursive;
        font-size: 30px;
      } 
}