.change-password_body{
    background: #022431;
    border-radius: 16px;
    padding: 1rem 2rem;
    max-width: 738px;
}

.change-password_body h2{
    color: #cde1e9;
    font-family: "Goldman", cursive;
    font-size: 24px;
}

.change-password_body p{
    color: #ffffff;
    font-family: "poppins", sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
}

.change-password_body input{
    background: #accedb;
    padding: 7px 14px;
    border-radius: 12px;
    width: 100%;
    margin: 2rem 0;

}
.btn{
    background-color: #3084a4;
    color: #ffffff;
    font-family: "Goldman", cursive;
    font-size: 16px;
    border-radius: 12px;
    border: 1px solid #3084a4;
    margin: 5rem auto;
}

@media (min-width: 768px) and (max-width: 1024px) {
    .change-password_body{
        width: 100%;
    }
    
    .change-password_body h2{
        font-size: 20px;
    }
    
    .change-password_body p{
        font-size: 14px;
        font-weight: 300;
        line-height: 20px;
    }
    
    .btn{
        background-color: #3084a4;
        color: #ffffff;
        font-family: "Goldman", cursive;
        font-size: 14px;
        border-radius: 12px;
        border: 1px solid #3084a4;
        margin: 7rem auto;
    }
    
}
@media screen and (max-width: 768px) {
    .change-password_body{
        width: 100%;
    }
    
    .change-password_body h2{
        font-size: 20px;
    }
    
    .change-password_body p{
        font-size: 12px;
    }
    
    .btn{
        font-size: 12px;
        width: 70%;
    }
}