.investor-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    padding: 1rem;
    width: 100%;
    border: 3px solid #E6F0F3;
    background-color: #ACCEDB;
    border-radius: 8px;
}
.investor-container p{
    margin: auto auto;
    color: #054761;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    text-align: center;
}
